# Active Spring profile (dev, test, prod)
SPRING_PROFILES_ACTIVE=

# PostgreSQL DB connection URL
# Format: jdbc:postgresql://host:port/database_name
POSTGRES_URL=

# Credentials for PostgreSQL DB
POSTGRES_USERNAME=
POSTGRES_PASSWORD=

# Kafka broker address
# Format: host:port (can be a comma-separated list)
KAFKA_BOOTSTRAP_SERVERS=

# API key for the INPA service
INPA_API_KEY=

# API key for the EPSO service
EPSO_API_KEY=